.wrapper
  =render "shared/side_bar"

  .chat-main
    .main-header
      .main-header__left-box 
      
        %h2.main-header__left-box__current-group
          hogehoge
        %ul.main-header__left-box__members-list
          Member：
          %li.main-header__left-box__members-list__member 
            hoge

      .main-header__edit-button 
        =link_to "/groups/1/edit/" do
          Edit
          

    .messages
      .message
        .message__upper-info
          %p.message__upper-info__talker
            hoge
          %p.message__upper-info__time
            2019/10/19(Sat) 11:54:46
        %p.message__text
          hogehoge
    .form
      %form#new_message.new_message{"accept-charset": "UTF-8", action: "/groups/2860/messages", enctype: "multipart/form-data", method: "post"}
        %input{name: "utf8", type: "hidden", value: "✓"}/
        %input{name: "authenticity_token", type: "hidden", value: "Vpd7RMROiQ+4Wk9zu1GmD6RyKRoEWBio/Cxmb6bih1QMUusRRgfrHSkS1LhHn97JAx4Z7kphk7fJM3K6FP6fHA=="}/
        .input-box 
          %input#message_content.input-box__text{name: "message[content]", placeholder: "type a message", type: "text"}/
          %label.input-box__image{for: "message_image"}
            %i.fa.fa-image
            %input#message_image.input-box__image__file{name: "message[image]", type: "file"}/
        %input.submit-button{"data-disable-with": "Send", name: "commit", type: "submit", value: "Send"}/
