.wrapper {
  
  .side-bar {
    width: 300px;
    color: white;
    float: left;

    .header {
      background-color: #253141;
      height: 100px;
      display: flex;
      align-items: center;
      padding: 0 20px;

      &__box {
        display: flex;
        justify-content: space-between;
        width: 100%;
        font-weight: bold;

        h3 {
          color:$maincolor;
          font-weight: bold;
        }

        ul {
          a { color:white; text-decoration:none; }
          display: flex;

          .list {
            margin-right:  4.8px;
          }

          .list {
            
          }
        }
      }
    }
  }

  .groups {
    height: calc(100vh - 100px);
    background-color: #2f3e51;
    padding: 20px 20px 0;
    overflow: scroll;
    box-sizing:border-box;
    a {color: white; text-decoration: none;}

    .group {

      &__name {
        font-size: 15px;
        margin-bottom: 5px;
      }

      &__message {
        font-size: 11px;
        margin-bottom: 40px;
      }
    }
  }


  .chat-main {
      width: calc(100vw - 300px);
      float: left;

    
    .main-header {
      height: 100px;
      padding: 0 40px;
      display: flex;
      justify-content: space-between;
      border-bottom: solid 1px #eee;
      overflow: scroll;
      

      &__left-box {
        margin-top: 35px;

        &__current-group {
          font-size: 20px;
          color: #333;
          margin-bottom: 15px;
        }

        &__members-list {
          display: flex;
          font-size: 12px;
          color: #999999;
        }
      }

      &__edit-button {
        height: 40px;
        line-height: 40px;
        padding: 0 20px;
        margin-top: 30px;
        border: solid 1px #38aef0;
        position: absolute;
        right: 40px;
        a { color:#38aef0; text-decoration:none; }
      }
    }

    .messages {
      height: calc(100vh - 190px);
      padding: 46px 40px;
      background-color: #fafafa;
      overflow: scroll;
      box-sizing:border-box;

      .message {
        padding-bottom: 40px;

        &__upper-info{
          display: flex;
          margin-bottom: 10px;

          &__talker {
            color: #434a54;
            font-size: 16px;
            font-weight: bold;
          }
          
          &__time {
            color: #999999;
            font-size: 12px;
            margin-left: 10px;
          }
        }
      }

      &__lower-message {

        &__content{

          color: #434a54;
          font-size: 14px;
          margin-bottom: 10px;

        }

        &__image {
          
        }

      }
    }

    .messages::-webkit-scrollbar {
      display:none;
    }

    .form {
      background-color: #DDDDDD;
      box-sizing: border-box;
      height: 90px;
      padding: 20px 50px 20px 40px;
      &__message {
        border: none;
        float: left;
        height: 50px;
        width: calc(100% - 150px);
        padding-left:10px;
        box-sizing: border-box;
      }
      &__mask {
        background-color: $white;
        float: left;
        height: 50px;
        padding-right: 10px;
        &__image {
          font-size: 20px;
          line-height: 50px;
        }
        .hidden {
          display: none;
        }
      }
      &__submit {
        background-color: $light_blue;
        border: none;
        color: $white;
        float: right;
        font-size: 16px;
        height: 50px;
        margin-left: 15px;
        padding: 0 30px;
      }
    }
  }
}

